<li class="fill-drill-exercise">

  <%= kaltura_audio_player(exercise) %>
  <%= kaltura_image_display(exercise) %>
  <%= kaltura_video_player(exercise) %>

  <%= attempt_fill_drill_exercise(exercise, @attempt.responses, @attempt.id).html_safe %>
</li>
